<div id="blog-post-spacer" class="blog-post-spacer" ></div>
<div id="{{_id}}" class="blog-post-container">
  <div class="blog-container">
    <div class="blog-post-title"><a href="/{{linkTitle}}">{{title}}</a></div>
    <div class="blog-post-dt" title="{{timestamp}}">{{timestamp}}</div>
    <div class="blog-post-author">{{author}}</div>
    <br>
    <div class="blog-post-body">{{{body-rendered}}}</div>
  </div>
</div>
<div id="spacer" class="spacer" ></div>