<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{meta}}" />
    <meta name="author" content="{{author}}" />
    <link href="/static/site.css" rel="stylesheet" type="text/css" />
  <head>
  <body>
    <div id="title-container" class="title-container">
      <div id="title" class="title">{{title}}</div>
      <div id="author" class="author">{{author}}</div>
    </div>
    <div id="body-container">