<div id="post-spacer" class="post-spacer" ></div>
<div id="{{_id}}" class="index-post-container">
  <div class="index-post-title"><a href="/{{_id}}">{{title}}</a></div>
  <div class="index-post-author">{{author}}</div>
  <br>
  <div class="index-post-body">{{{body-rendered}}}</div>
</div>
<div id="post-spacer" class="post-spacer" ></div>